.about-artists {
    width: 90%;
    margin: 0 auto;
    background-color: $white;

    &__heading {
        margin: 32px 0 24px 0;
        text-transform: capitalize;
        @include mobile-header;
    } 

    &__image {
        width: 100%;
    }

    &__quote-text,
    &__quote-citation {
        @include mobile-subheader;
    } 

    &__quote-citation {
        margin-top: 32px;
    }

    &__bio {
        margin-top: 40px;
        width: 90%;

        &-heading {
            margin-bottom: 24px;
            @include mobile-subheader;
        }

        &-container{
            &-content {
                @include mobile-paragraph-lists;
                
                &:first-of-type {
                    margin-bottom: 24px;
                }
    
                &:not(:first-of-type) {
                    margin-bottom: 40px;
                }
            }    
        }
    }
}

@include medium {
    .about-artists {
        width: 93.75%;

        &__heading {
            @include header;
        }

        &__image {
            height: 362px;
        }

        &__quote {
            margin-top: 24px;

            &-text {
                @include h2-header;
            }

            &-citation {
                @include subheader;
            }
        }

        &__bio {
            width: 100%;
            &-heading {
                @include h2-header; 
            }

            &-container{
                display: flex;
                justify-content: space-between;

                &-content {
                    width: 48.3%;
                    @include paragraphs;
                }
            }
            
        }
    }
}

@include large {
    .about-artists {
        width: 75%;
    
        &__heading {
            margin: 48px 0;
        }
        &__image {
            width: 83%;
            margin-left: 8.5%;
            margin-bottom: 40px;
        }

        &__quote {
            width: 83%;
            margin-left: 8.5%;
            
            &-text {
                margin-bottom: 40px;
            }
        }

        &__bio {
            width: 83%;
            margin-left: 8.5%;
            margin-top: 56px;
            
            &-heading {
                margin-bottom: 32px;
            }

            &-container {
                width: 97.56%;

                &-content {
                    width: 47.73%;
                    margin-bottom: 48px;
                }
            }
        }
    }

}