.gallery {
    width: 100%;
    background-color: $alabaster;

    &-title {
        margin-left: 5%;
        padding: 32px 0 24px 0;
        @include mobile-header
    }

    &-container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;

        &__image-box {
            width: 100%;
            margin-bottom: 16px;
            min-height: 162px;

            &:last-of-type {
                padding-bottom: 32px;
            }

            &-content {
                width: 100%;
            }
        }
    }
}

/* Issue I'm having - the padding bottom on the original size doesn't want to dissapear 
on a larger size. WHen I unset it, the padding on :last-of-type is gone, but the space is 
then occupied by the "content" of the box, and all ensuing boxes*/

@include medium {
    .gallery {
    
        &-title {
            margin-left: 3.13%;
            @include header;
        }
    
        &-container {
            width: 93.75%;
            justify-content: space-between;
    
            &__image-box {
                width: 31.11%;
                // padding-bottom: 0;
                // margin-bottom: 24px;
    
                // &:last-of-type {
                //     padding-bottom: unset;
                // }
                
                &-content {
                    width: 100%;
                }
                
            } 
        }
    }
}

@include large {
    .gallery {
        &-title {
            width: 75%;
            margin: 0 auto;
        }

        &-container {
            width: 75%;
            margin: 0 auto;

            &__image-box {
                width: 31.8%;
                margin-bottom: 24px;
            }
        }
    }
}