.gallery {
    width: 100%;
    background-color: $alabaster;

    &-title {
        margin-left: 5%;
        padding: 32px 0 24px 0;
        @include mobile-header
    }

    &-container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;

        &__image-box {
            width: 100%;
            margin-bottom: 16px;

            &:last-of-type {
                padding-bottom: 32px;
            }

            &-content {
                width: 100%;
            }
        }

    }
}

@include medium {
    .gallery {
    
        &-title {
            margin-left: 3.13%;
            @include header;
        }
    
        &-container {
            width: 93.75%;
            justify-content: space-between;
    
            &__image-box {
                width: 31.11%;
                margin-bottom: 24px;
    
                &-content {
                    width: 100%;
                }
            } 
        }
    }
}

@include large {
    .gallery {
        &-title {
            width: 75%;
            margin: 0 auto;
        }

        &-container {
            width: 75%;
            margin: 0 auto;

            &__image-box {
                width: 31.8%;
            }
        }
    }
}