.hero {
  height: 183px;
  width: 100%;
  background-image: url(../assets/images/hero-image.jfif);
  background-size: 120% auto;
  background-position: 60% 60%;
  background-color: #50323232;
  background-blend-mode: overlay;
  position: relative;

  &__image {
    width: 100%;
    height: 100%;
  }

  &__text {
    margin-left: 5%;
    width: 65%;
    position: absolute;
    top: 25%;
    color: $white;
    @include mobile-header;
  }
}

@include medium {
  .hero {
    height: 400px;

    &__text {
      @include header;
      width: 50%;
    }
  }
}

@include large {
  .hero {
    height: 670px;
    width: 100vw; //!Had a glitch where this in a percent made my screen all wonky. For hero and header.

    &__text {
      @include hero-header;
      margin-left: 12.5%;
      width: 40%;
    }
  }
}
