// !Below is the hero for Biography page and base for shows page.

.hero {
  min-height: 472px;
  width: 100vw;
  background-position: 80% 80%;
  background-repeat: no-repeat;
  background-image: url(../assets/images/hero-image.jfif);
  background-size: 130% 130%;
  background-position: 60% 60%;
  background-color: #50323232;
  background-blend-mode: overlay;
  position: relative;

  &__image {
    width: 100%;
    height: 100%;
  }

  &__text {
    margin-left: 5%;
    width: 65%;
    position: absolute;
    top: 25%;
    color: $white;
    @include mobile-header;
  }
}

@include medium {
  .hero {
    height: 400px;

    &__text {
      @include header;
      width: 50%;
    }
  }
}

@include large {
  .hero {
    height: 670px;
    width: 100vw; //!Had a glitch where this in a percent made my screen all wonky. For hero and header.

    &__text {
      @include hero-header;
      margin-left: 12.5%;
      width: 40%;
    }
  }
}

// !Below is the styling for the shows header that has the iframe and the subheader!

.hero {
  .hero-text {
    width: calc(100vw - 32px);
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    padding-top: 64px;

    &__subheader {
      @include subheader;
    }

    &__header {
      padding-top: 32px;
      @include header;
    }
  }

  iframe {
    width: calc(100vw - 32px);
    height: 150px;
    margin: 64px 16px 0 16px;
    padding-bottom: 32px;
    border-radius: 6px;
  }
}

@include medium {
  .shows-hero {
    iframe {
      width: 60%;
      height: 200px;
      border-radius: 8px;
    }
  }
}

@include large {
  //!Having trouble styling the .hero-text for desktop.
  .hero {
    .hero-text {
      //!Not letting me override the previous settings.
      width: calc(40%);

      &__subheader {
        @include header;
      }

      &__header {
        @include hero-header;
      }
    }
  }

  .show-hero {
    position: relative;

    &__text {
      width: 460px; //!Not applying.
      position: absolute;
      bottom: 40%;
      left: 180px;

      &-subheader {
        @include header;
      }

      &-header {
        @include hero-header;
      }
    }

    iframe {
      position: absolute;
      bottom: 40%;
      right: 180px;
      width: 436px;
      height: 146px;
      padding-bottom: unset;
    }
  }
}
