.shows {
  width: calc(100vw - 32px);
  margin: 0 auto;

  &__header {
    margin-top: 32px;
    margin-bottom: 24px;
    @include h2-header;
  }

  &__table {
    width: calc(100vw - 32px);
    border-collapse: collapse;
    margin-bottom: 32px;

    & tr {
      margin-top: 16px;
      width: 100%;
      display: flex;
      flex-direction: column;
      border-bottom: 2px solid $mercury;

      & .key-cell {
        @include labels;
        margin-bottom: 16px;
      }

      & .data-cell {
        // @include mobile-paragraph-lists;
        @include lists;
        margin-bottom: 24px;
      }

      & .data-cell:first-of-type {
        @include subheader;
      }

      & .button-container {
        width: 100%;
        padding: 16px;
        text-align: center;
        text-transform: uppercase;
        @include mobile-subheader;
        border-radius: 6px;
        background-color: $black;
        color: $alabaster;
        margin-bottom: 16px;
      }
    }
  }
}

// !Styling for @medium

@include medium {
  .shows {
    width: calc(100vw - 48px);

    &__header {
      @include header;
    }

    &__table {
      width: calc(100vw - 48px);

      & thead {
        & tr {
          justify-content: flex-start;

          & th {
            text-align: start;
            text-transform: uppercase;
            @include labels;
            width: 25%;
          }
        }
      }

      & tr {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: unset;
        padding: 6px 0;

        & > * {
          width: 25%;
        }

        & .button-container {
          width: 25%;
          margin-bottom: unset;
          padding: 6px;
        }
      }
    }
  }
}

@include large {
  .shows {
    width: calc(100vw - 360px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 48px;

    &__header {
      margin: 0;
    }

    &__table {
      width: 74.44%;
    }
  }
}
