html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@import "./partials/breakpoints";
@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/header";
@import "./partials/hero";
@import "./partials/about-artists";
@import "./partials/gallery";
@import "./partials/footer";


// !Necessary changes: 
// ! Get someone to check what's up with the gallery on tablet size. Not wanting to eliminate the previous padding.
// ! Ask Anita, Parvaneh, or Noor what to do about uploading it without the unnecessary files. 
// ! If I commit and delete all those files, the most recent commit won't have any of them but the previous ones will? 