html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@import "./partials/breakpoints";
@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/header";
@import "./partials/hero";
@import "./partials/about-artists";
@import "./partials/gallery";
@import "./partials/footer";


// !Necessary changes: 
// !- need to make all images with a min-height (labelled on doc specs) and then scalable based on the width percentages!!