//! I think BEM could definitely be better. Didn't deal with that early when I was making the JS for it and never really went back to it.

.shows {
  width: calc(100vw - 32px);
  margin: 0 auto;

  &__header {
    margin-top: 32px;
    margin-bottom: 24px;
    @include h2-header;
  }

  &__table {
    width: calc(100vw - 32px);
    border-collapse: collapse;
    margin-bottom: 32px;

    & tbody {
      & .table-row {
        margin-top: 16px;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid $mercury;

        & .key-cell {
          @include labels;
          margin-bottom: 16px;
        }

        & td:nth-child(2) {
          @include subheader;
        }

        & .data-cell {
          @include lists;
          margin-bottom: 24px;
        }

        & .button-container {
          width: 100%;
          padding: 16px;
          text-align: center;
          text-transform: uppercase;
          @include mobile-subheader;
          border-radius: 6px;
          background-color: $black;
          color: $alabaster;
          margin-bottom: 16px;
        }
      }
    }
  }
}

@include medium {
  .shows {
    width: calc(100vw - 48px);

    &__header {
      @include header;
    }

    &__table {
      width: calc(100vw - 48px);
      display: table;

      & thead {
        & tr {
          justify-content: flex-start;

          & th {
            text-align: start;
            text-transform: uppercase;
            @include labels;
            width: 25%;
          }
        }
      }

      & tbody {
        & .show-table__row {
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          margin-top: unset;
          border-bottom: 2px solid $mercury;
          padding: 12px 0;

          & > * {
            width: 25%;
          }

          & td:first-of-type {
            @include subheader;
          }

          & .button-container {
            //! Had this section working early in week, but now the margins aren't applying and my inspector says it's gathering styles from _forms.scss
            //! I don't understand how that could possibly be happening. Don't think I messed up anything else when I tried to fix it though
            width: 15%;
            margin-bottom: unset;
            padding: 8px;
            text-align: center;
            text-transform: uppercase;
            @include mobile-subheader;
            border-radius: 6px;
            background-color: $black;
            color: $alabaster;
          }
        }
      }
    }
  }
}

@include large {
  .shows {
    width: calc(100vw - 360px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 48px;

    &__header {
      margin: 0;
    }

    &__table {
      width: 74.44%;
    }
  }
}
